

{% for place in places %}

    <div class="place-list">
        <h3>{{ ez_render_field( place, 'name' ) }}</h3>
        {{ ez_render_field( place, 'image', { parameters: {'alias' : 'small'} } ) }}
        {{ ez_render_field( place, 'description' ) }}
    </div>

{% endfor %}

